<div id="custom-section">  
  {%- if section.settings.title != blank -%}
  <div class="custom-title"><h2>{{ section.settings.title }}</h2></div>  
  {%- endif -%}    
  <div class="custom-code">{{ section.settings.custom_html }}</div>
  <p class="credits">Powered by <a href="//www.terrificminds.com" target="_blank">TM</a></p>
</div>
<style> 
  #custom-section{position:relative;}
  .custom-title{text-align:center;}
  .custom-code{text-align:left;}
  .credits{text-align:right;font-size:11px; margin-bottom:20px;font-style:italic;}
</style>

{% schema %}
{
  "name": "HTML",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "custom_html",
      "label": "HTML"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML",
      "category": "TM",
      "settings": {
      }
    }
  ]
}
{% endschema %}